.goods-index-title {
  text-align: center;
}

.goods-index-container {
  width: 98%;
  margin: 0 auto;
}
.goods-container{
  width: calc(150vmin / 4.5);
  background-color: lightgray;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.goods-container li {
  list-style: none;
}


.goods-container img {
  padding: 3px;
  width: calc(110vmin / 4.5);
  height: calc(110vmin / 4.5);
}

.header-link {
  display: inline-block;
}

.goods-link {
  display: inline-block;
  width: 19.775%;
}

.goods-name {
  text-decoration: none;
  color: black;
}


.my-pager {
  display: block;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.my-pager .my-pagination {
text-align: center;

}

.my-pager .my-pagination li {
display: inline;
margin: 0 2px;
padding: 0;
display: inline-block;
background: #98fb98;
width: 50px;
height: 50px;
text-align: center;
position: relative;
border-radius: 10px;
}


.my-pager .my-pagination li a{
vertical-align: middle;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
display:table;
color: #fff;
text-decoration: none;
}

.my-pager .my-pagination li a span{
display:table-cell;
vertical-align:middle;
}

.my-pager .my-pagination li a:hover,
.my-pager .my-pagination li a.active{
color: #000;
background: #c8fac8;
border-radius: 10px;
}
